@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Quicksand, sans-serif;
    background: #b2d430;
    font-weight: 300;
    font-size: 1.2em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.quiz_container {
    background-color: #fff5f5;
    box-shadow: 0 0 10px 20 px rgba(100, 100, 100, 0.1);
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 60%;
    max-width: 600px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

ul {
    list-style-type: none;
}

ul li label {
    cursor: pointer;
}

.btn {
    cursor: pointer;
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    border-top: 10px;

}

#btn {
    cursor: pointer;
    width: 10%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

hr {
    width: 8%;
    margin: 0 auto;

}

.score {
    background-color: #fff5f5;
    width: 100px;
    
    margin: 0 auto;
}